@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Merriweather:ital,wght@0,700;1,700&display=swap');

body {
  background-color: #f8fafc; /* Slate-50 */
  color: #1e293b; /* Slate-800 */
}